services:
  backend:
    build: ./backend
    container_name: mern-backend
    ports:
      - "4000:4000"
    environment:
      - DB_URL=${DB_URL}
      - NODE_ENV=production
    # backend does NOT depend on prometheus

  prometheus:
    image: prom/prometheus
    container_name: prometheus
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml
    ports:
      - "9090:9090"
    depends_on:
      - backend   # ONLY prometheus depends on backend

  grafana:
    image: grafana/grafana
    container_name: grafana
    ports:
      - "3000:3000"
    environment:
      - GF_SECURITY_ADMIN_PASSWORD=admin
    depends_on:
      - prometheus
